.mainbox
{
    background-color: whitesmoke; 
    padding: 45px;
    margin-top: 30px;
    margin-bottom: 150px;
    text-align: center;
    max-width: 100%;

}

.resume-link{
    color:#212121
    
}

.resume-link:hover {
    color:#212121;
    transition: var(--size-animation-duration) ease;
    box-shadow: 1px 1px 16px rgba(0,0,0,.75);
    transform: scale(1.5)
    
}



.resume-row{
    display: block;
    margin: 0;
  
}
.my-address{
    padding: 20px;
    line-height: 1.5;
  
}

.summary-contents{
    margin: 0;
}

.summary-para{
    display:block;
    text-align: left;
    margin: auto;
    line-height: 1.3;
    padding:30px;

}
.skills,.work-exp {
    padding:30px;
}
.skills{
    line-height: 1.5;
}

.projects{
    display:block;
    text-align: left;
    margin: auto;
    line-height: 1.3;
    padding:30px;

}

.company-name, .degree{
    font-weight: bolder;
}
.year{
   display: flex;
   flex-direction: row-reverse;
   flex-wrap: nowrap;

}
.location{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
 
 }
.project-name{
   font-weight: 400;
}

.experiences{
    padding: 20px;
    text-align:left;
    line-height: 1.3;

}
.education{
    padding: 20px;
    text-align:left;
    line-height: 1.3;

}

@media screen and (max-width:768px){

.mainbox
{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   padding:0;
   background: transparent;


}

p.my-address{
    padding: 10px;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
  
}
.resume-link:hover {
    color:#212121;
    transition: var(--size-animation-duration) ease;
    box-shadow: 1px 1px 16px rgba(0,0,0,.75);
    transform: scale(1.1)
    
}

.resume-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    font-size: 18px;
  
}

.project-row{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

p.projects{
    padding: 10px;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
  
}
h3{
    font-size: 28px;
}
.summary-para,
.skills,
.experiences,
.education{
    font-size: 22px;
}

.education-row{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    justify-content:center;
   
}






}

