            body{
                box-sizing: border-box;
                /* font-family: 'Grenze Gotisch', cursive; */
                font-family: 'Noto Sans KR', sans-serif;
                font-weight: 350;
                line-height:1; 
                color: var(--background-color);
                height:100%;
                background-color:var(--body-color);
                font-size: 22px;
                margin:0;
                padding:0;
            }
            :root{
                --body-color:#E0E0DA;
                --text-color: #fafafa;
                --background-color:#212121;
                --mainbox-color:whitesmoke;
                --accent-color:#e91e63;
                --accent2-color:dodgerblue;
                --accent3-color:#ff5722;
                --accent4-color:#e0e0e0;
                   /* animation */
             --size-animation-duration: 300ms
            }
       
            .mainbox
            {
                background-color: whitesmoke; 
                padding: 30px;
                margin-top: 100px;
                margin-bottom: 150px;
           
            }


            .contact-mainbox
            {
                background-color: whitesmoke; 
                padding: 20px;
                margin-top: 100px;
                margin-bottom: 300px;
            }

            h1,p {
                text-align:center;
                
            }

            h1{
                font-family: 'Noto Sans KR', sans-serif;
                font-size: 50px;
                margin:0;
              
            }

            p{
                font-size: 22px;
            }

            .AboutmeImage{
                display: block;
                width:100%;
                margin:auto;
            }
            
           

            .myBio1{
                line-height: 1.6;
                font-size: 22px;
                padding:12px;
                margin-top:10px;
            }

            .myBio2 {
                display: flex;
                flex-direction: row; 
                justify-content: center;
                line-height: 1.6;
                font-size: 26px;
                padding: 10px;
                margin-top: 15px;
            
            }
           


            .other, .skill{
                
                text-align: center;
                  display: block;
                  font-size: 32px;
                  margin-bottom: 10px;
            }

            .skill-list{
                list-style-type: none;
                padding-left:0;
                text-align:center;
                font-size: 22px;
                font-weight: 380;
            }
            .skill-header{
                font-weight:500;
            }


            .footer{
                background-color: var(--background-color);
                padding: 20px;
                border-top: 10px solid var(--accent2-color);
                width: 100%;
                /* position: relative; */
                bottom: 0;
            
        
            }

            .contact-mainbox{
                display: flex; 
                flex-direction: column;
                justify-content: center; 
                margin: auto;
                padding: 20px;
            

            }

            #contact-info{
                font-family: 'Allura', cursive;
                font-size: 24px;
                line-height: 1.6;
            }

            .form{
                display: flex; 
                flex-direction: column;
                padding:5px; 

            }

            label{
                font-weight: 500;
            }
          
            .input{
                display: block;
                margin: 5px auto;
                width: 80%;
                padding: 5px;
                border-radius: 5px;
                border-top:var(--background-color);
          
            }:last-child


            .submit{
                display: block;
                margin: 20px auto;
                padding:10px;
                background-color:var(--accent2-color);
                border-radius: 5px;
              

            }

            .input:focus {
                background-color:var(--accent4-color);

            }

        .email{
            display:flex;
            color:var(--text-color);
            font-size: 28px;
            text-decoration: none;
            list-style-type: none;
            }

            .email a{
                color:var(--text-color);
                font-size: 24px;
                margin-left: 10px;
            }


            .email li:hover {
                background-color: var(--accent2-color);
                border-radius: 5px;
                padding:5px;
                font-weight: bold;
            }

            @media screen and (max-width:768px){
               

                .navbar{
                    flex-direction: column;
                    align-items: flex-start;
            
                }
                .navbar-list{
            
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    display: none;
                
                }
            
                .navbar-list li {
                width: 100%;
                text-align: center;
            
            }

            .navbar-list a {
             font-size: 18px;
            
            }
            
                .navbar-icons {
                    justify-content: center;
                width: 100%;
                display:none;}
            
                .navbar-toggleBtn{
                    display: block;
                }
            
                .navbar-list.active,
                .navbar-icons.active{
                    display: flex;
                }

                .AboutmeImage{
                    display: block;
                    width:90%;
                    height:90%; 
                    /* margin-right:10px; */
                    margin:auto;
                }
                .myBio1{
                    text-align: center;
                    display: block;
                    width: 100%;
                    margin: auto;
                }
                .myBio2{
                 
                        display: flex;
                        flex-direction: column; 
                        justify-content: center;
                        line-height: 1.6;
                        font-size: 24px;
                        padding: 10px;
                    
            
            
                }
                .skill-box{
                    margin-bottom: 15px;
                }
                
                /* .contact-mainbox { 
                    background-image: url('Portfolio photos/media_bg_paper.jpg');
                    
                
            } 
             */
            
            

                
            } 


            .hvr-grow {
                display: inline-block;
                vertical-align: middle;
                -webkit-transform: perspective(1px) translateZ(0);
                transform: perspective(1px) translateZ(0);
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -webkit-transition-property: transform;
                transition-property: transform;
            }
            .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }


            .hvr-icon-grow-rotate {
                display: inline-block;
                vertical-align: middle;
                -webkit-transform: perspective(1px) translateZ(0);
                transform: perspective(1px) translateZ(0);
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
            }
            .hvr-icon-grow-rotate .hvr-icon {
                -webkit-transform: translateZ(0);
                transform: translateZ(0);
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -webkit-transition-property: transform;
                transition-property: transform;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
            } 
            .hvr-icon-grow-rotate:hover .hvr-icon, .hvr-icon-grow-rotate:focus .hvr-icon, .hvr-icon-grow-rotate:active .hvr-icon {
                -webkit-transform: scale(1.5) rotate(12deg);
                transform: scale(1.5) rotate(12deg);
            }
            
                
            
